/* html {
  font-size: 16px;
} */

/* h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 2rem;
} */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: 'border-box';
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  font-family: 'Nunito', sans-serif;
} */

.purple-bg {
  background-color: #4b395a;
  box-sizing: border-box;
  display: block;
  overflow: auto;
}

.splash-container {
  margin: 0 auto;
  margin-top: 200px;
  position: relative;
  min-width: 300px;
}

.app-name-containerr {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-name {
  color: #874b3f;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 5em;
  margin-bottom: 0;
}

.html-logo {
  margin: 0 auto;
}

.next-btn {
  background-color: #b6874e;
  color: #fff;
  border-radius: 10px;
  padding: 15px 10px;
  font-size: 0.8em;
  box-shadow: -1px 6px 0px -4px rgba(0, 0, 0, 0.25);
  border: 1px solid #61784a;
  outline: none;
  margin-top: 50px;
  font-weight: 600;
}

.auth-input {
  text-align: center;
  margin-bottom: 15px;
  padding: 15px 10px;
  border-radius: 10px;
  color: #61784a;
  font-size: 0.8em;
  box-shadow: -1px 6px 0px -4px rgba(0, 0, 0, 0.25);
  border: 1px solid #61784a;
  outline: none;
}

.auth-heading {
  color: #c9c3ba;
  text-align: center;
}

.forgot-resend-link-ctn {
  text-align: right;
}

.forgot-resend-link {
  text-align: right;
  color: #c9c3ba;
  text-decoration: none;
}

.html-logo {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: transparent;
  border: 8px solid #e1bd81;
  border-radius: 14px;
  transform: rotate(45deg);
}

.html-logo .inner {
  width: 85px;
  height: 85px;
  background-color: #e1bd81;
  border: 8px solid #4b395a;
  border-radius: 14px;
}

.login-container,
.confirm-container,
.care-space-container {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}

.care-space-container h2 {
  font-size: 1.6rem;
}

.care-space-container {
  padding-top: 100px;
}

.care-space-container .care-admin {
  font-size: 1.4rem;
}

.top-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 2px solid #708ca5;
}

.nav-header {
  margin-bottom: 0;
  color: #5b5854;
  font-weight: 700;
}

.top-nav-list {
  margin-bottom: 0;
}

.top-nav-list li a {
  color: #5b5854;
  font-size: 1.3em;
}

.top-nav-list li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

.top-nav-seperator {
  font-weight: 700;
}

.care-table-header {
  font-weight: 700;
}

.care-table-container {
  background-color: #e6e6e6;
  max-width: 500px;
  margin: 0 auto;
}

.care-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.care-button-container button {
  background-color: transparent;
  border: none;
}

.care-table-titles,
.care-table-topics-titles {
  display: flex;
  border-bottom: 1px solid #000;
  height: 40px;
}

.care-table-titles div,
.care-table-topics-titles div {
  border-right: 2px dashed #5b5854;
  width: 20%;
  vertical-align: middle;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  word-wrap: break-word;
}

.care-table-topics-titles div {
  width: 18%;
}

.care-table-topics-titles div:nth-child(1) {
  width: 28%;
}

.care-table-row {
  display: flex;
  height: 40px;
}

.care-table-row:nth-child(odd),
.care-table-topics-row:nth-child(odd) {
  border-bottom: 1px solid #6d6a66;
}

.care-table-row:nth-child(even),
.care-table-topics-row:nth-child(even) {
  border-bottom: 1px solid #000;
}

.care-table-rows > div:nth-child(odd),
.care-table-topics-rows > div:nth-child(even) {
  background-color: #dce1e0;
}

.care-table-rows > div:nth-child(even),
.care-table-topics-rows > div:nth-child(even) {
  background-color: #e6e6e6;
}

.care-table-topics-row {
  display: flex;
  height: 40px;
}

.care-table-row > div {
  border-right: 2px dashed #5b5854;
  width: 20%;
}

.care-table-topics-row > div {
  border-right: 2px dashed #5b5854;
  width: 18%;
}

.care-table-topics-row > div:nth-child(1) {
  width: 28%;
}

.add-btn {
  padding-right: 10px;
}

.care-all-container {
  background-color: #e6e6e6;
}

.full-row {
  display: flex;
}

.half-box {
  width: 50%;
  display: inline-block;
}

.error-field {
  color: #e83e8c;
  margin-bottom: 30px;
}

.ant-select-selection--single {
  border-radius: 10px !important;
  height: 42px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.ant-layout-sider {
  background: #fff !important;
}

.left-sidebar,
.ant-layout-sider {
  background: #fff;
}

.left-sidebar .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-sidebar,
.ant-layout-sider {
  background: #fff;
}

.main-content {
  padding: 24px;
  background: #fff;
}

.header-medical-practice {
  text-align: center;
  font-weight: 700;
  margin-top: 40px;
  color: #6c6c6c;
}

.member-profile h3 {
  margin-bottom: 0;
  color: #6c6c6c;
  font-weight: 700;
}

.member-profile a {
  font-size: 0.8rem;
  color: #6c6c6c;
  font-weight: 700;
}

.left-menu-items {
  margin-top: 40px;
  padding-left: 0;
}

.left-menu-items li {
  list-style: none;
  margin-bottom: 40px;
  text-align: center;
}

.left-menu-items li a {
  color: #6c6c6c;
  font-size: 0.9rem;
  font-weight: 700;
}

@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
}
